@import "tailwindcss";

.chat-wrapper {
    background: var(--color-zinc-900);
}

.msg-input {
    font-size: 18px;
    width: 100%;
    font-family: sans-serif;
}

.msg-input:focus {
    outline: none;
}

.send-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.send-btn:hover svg path {
    fill: url(#gradient-fill);
}

.msg-box {
    background-color: var(--color-zinc-800);
    box-shadow: 0 0 6px 0.2px #f095337e,
        0 0 6px 0.3px #e6693cb0,
        0 0 6px 0.4px #dc2742c0,
        0 0 6px 0.5px #cc23679d,
        0 0 6px 0.6px #bc1888a6;
    ;
}

.chat-window {
    background: var(--color-zinc-950);
}

.chat-list {
    background-color: var(--color-zinc-950);
    width: 400px;
    padding: 0px 15px;
}

.chat-panel {
    border: 1px solid var(--color-zinc-800);
    width: 100%;
    height: 740px;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.315);
    position: relative;
}

.title {
    font-family: var(--font-title);
}

.sub-text {
    font-size: 16px;
    padding-left: 3px;
}

.add-btn {
    background-color: var(--color-zinc-800);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: all .3s;
    z-index: 10;
}

.add-btn:hover {
    box-shadow: 0 0 6px 0.2px #f095337e,
        0 0 6px 0.3px #e6693cb0,
        0 0 6px 0.4px #dc2742c0,
        0 0 6px 0.5px #cc23679d,
        0 0 6px 0.6px #bc1888a6;
    ;
}