.color-plate {
  position: absolute;
  bottom: 100px;
  z-index: 10;
  left: 36.6%;
}

.colorPlate-btn {
  transform: rotate(270deg);
  position: absolute;
  bottom: 53px;
  left: 48%;
  opacity: 0.4;
  cursor: pointer;
  mix-blend-mode: difference;
}

.Canvas-button {
  transition: all .4s;
}

.Canvas-button:hover {
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.685);
}