 @import "tailwindcss";

 @font-face {
     font-family: "title-font";
     src: url('../assets/font/BeautyMountainsPersonalUse-od7z.ttf');
 }

 ;

 .signup-inputs input::placeholder {
     color: rgb(170, 170, 170);
     font-weight: 400;
     font-size: 18px;
 }

 .signup-inputs input {
     width: 320px;
     color: white;
     transition: all .3s;
 }

 .signup-inputs input:focus {
     transform: scale(1.08);
     background: rgb(75, 75, 75);
     color: white;
 }

 .signup-box {
     box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.4);
 }

 .gradient-text {
     background: linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
 }

 .glow-on-hover {
    padding: 10px 30px;
     border: none;
     outline: none;
     color: #fff;
     background: #111;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
 }

 .glow-on-hover:before {
     content: '';
     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     animation: glowing 20s linear infinite;
     opacity: 0;
     transition: opacity .3s ease-in-out;
     border-radius: 10px;
 }

 .glow-on-hover:active {
     color: #000
 }

 .glow-on-hover:active:after {
     background: transparent;
 }

 .glow-on-hover:hover:before {
     opacity: 1;
 }

 .glow-on-hover:after {
     z-index: -1;
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: #111;
     left: 0;
     top: 0;
     border-radius: 10px;
 }

 @keyframes glowing {
     0% {
         background-position: 0 0;
     }

     50% {
         background-position: 400% 0;
     }

     100% {
         background-position: 0 0;
     }
 }

